.role-sidebar {
  display: flex;
  flex-direction: column;
  gap: 20px;
  padding-top: 10px;
}

.sidebar-heading {
  font-size: 20px;
  font-weight: bold;
  margin-bottom: 15px;
}

.sidebar-links {
  display: flex;
  flex-direction: column;
  gap: 12px;
}

.sidebar-btn {
  background: rgba(255,255,255,0.18);
  border: none;
  padding: 12px;
  border-radius: 10px;
  color: white;
  cursor: pointer;
  text-align: left;
  font-size: 16px;
  transition: 0.3s;
}

.sidebar-btn:hover {
  background: rgba(255,255,255,0.30);
}
